/* ======================= Global=================== */

#root {
  /* background-image: url(/imgs/glass.jpeg);
  background-repeat: no-repeat;
  background-size: cover; */
  background-color: #627987;
  height: 100vh;
}

.link,
#navbarDropdown {
  color: #4294b4;
  text-decoration: none;
  background-color: transparent;
}

.link:hover {
  color: #82cce9;
  text-decoration: none;
  background-color: transparent;
}

/* ======================= Header =================== */
.App {
  text-align: center;
}
.alwaysTop {
  position: absolute;
  top: 1px;
  left: 50%;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 50px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* ======================= bouncy card =================== */
.profile-card {
  background: #520e46;
  width: 56px;
  height: 56px;
  position: relative;
  left: 50%;
  top: 50%;
  z-index: 2;
  overflow: hidden;
  opacity: 0;
  margin-top: 70px;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-border-radius: 50%;
  border-radius: 50%;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16), 0px 3px 6px rgba(0, 0, 0, 0.23);
  animation: init 0.5s 0.2s cubic-bezier(0.55, 0.055, 0.675, 0.19) forwards,
    moveDown 1s 0.8s cubic-bezier(0.6, -0.28, 0.735, 0.045) forwards,
    moveUp 1s 1.8s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards,
    materia 0.5s 2.7s cubic-bezier(0.86, 0, 0.07, 1) forwards;
}

@keyframes init {
  0% {
    width: 0px;
    height: 0px;
  }
  100% {
    width: 56px;
    height: 56px;
    margin-top: 0px;
    opacity: 1;
  }
}

@keyframes moveDown {
  0% {
    top: 50%;
  }
  50% {
    top: 40%;
  }
  100% {
    top: 100%;
  }
}

@keyframes moveUp {
  0% {
    background: #610b2c;
    top: 100%;
  }
  50% {
    top: 40%;
  }
  100% {
    top: 50%;
    background: #e0e0e0;
  }
}

@keyframes materia {
  0% {
    background: #e0e0e0;
  }
  50% {
    border-radius: 4px;
  }
  100% {
    width: 340px;
    height: 280px;
    background: #ffffff;
    border-radius: 4px;
  }
}

/* ==================== profile img ====================== */

body {
  font-family: "Open Sans", sans-serif;
}

h1 {
  font-size: 1.8rem !important;
  font-family: "Righteous", cursive !important;
  text-transform: uppercase;
  text-shadow: 0 2px 3px red;
  letter-spacing: 3px;
  border-radius: 10px;
  animation: header 5s ease-in infinite alternate;
}

.fb-profile img.fb-image-lg {
  z-index: 0;
  width: 100%;
  height: 40vw;
  margin-bottom: 10px;
}

.fb-image-profile {
  margin: -90px 10px 0px 50px;
  z-index: 9;
  width: 10%;

  border-radius: 20px;
  -webkit-box-shadow: 11px 12px 9px -9px rgba(59, 12, 59, 1);
  -moz-box-shadow: 11px 12px 9px -9px rgba(59, 12, 59, 1);
  box-shadow: 11px 12px 9px -9px rgba(59, 12, 59, 1);
}

@media (max-width: 768px) {
  .fb-profile-text > h1 {
    font-weight: 700;
    font-size: 16px;
  }

  .fb-image-profile {
    margin: -45px 10px 0px 25px;
    z-index: 9;
    width: 20%;
    border-radius: 20px;
  }
}

/* =========================== dragon img */

.dragon {
  height: 33vh;
  margin: 20px;
}
